.root {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 40px;
  background: #add8e6 url("images/background1440.jpg") no-repeat center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
}

.topBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 280px;
  margin: 70px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
