.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 150px;
  height: 220px;
  padding: 0;
  background-color: rgba(99, 164, 108, 0.7);
  border-radius: 4px;
  box-sizing: border-box;
}

.date {
  position: absolute;
  top: 40px;
  font-size: 16px;
}

.icon {
  min-height: 50px;
}

.temperature {
  position: absolute;
  bottom: 32px;
  font-size: 30px;
}
